  
  
  
  <div>
<!--     
    <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect button--colored-teal mdl-dialog__close_icon" (click)="close()">

      <i class="material-icons">close</i>
      </button> -->
   <div class="mdl-dialog__content">
   
    <p class="text-color--white"> {{message}}</p>
   </div>
   <div class="mdl-dialog__actions">
     <button type="button" class="mdl-button mdl-js-button mdl-button--raised color--red" (click)="close($event)">Close</button>
      
   </div>
  

  </div>

 

