<base-card>
<base-card-title>
<div class="mdl-grid">
<div *ngFor="let folder of title; let index=index">
  <button class="mdl-button mdl-button--font-increased mdl-js-button mdl-js-ripple-effect color-text--teal" id="folder_{{title.length-1-index}}" (click)="onSelectFolder(index)">
    <i *ngIf="folder==title[0]" class="material-icons">folder</i>
    {{ folder}}
    <i *ngIf="index===title.length-1" class="material-icons">arrow_drop_down</i>
  </button>  
  <ul 
class="mdl-menu mdl-list mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp folder-function-dropdown"
for="folder_0">

<li class="mdl-menu__item mdl-list__item">
    <span class="mdl-list__item-primary-content" (click)=createFolder()>
      <i class="material-icons mdl-list__item-icon">create_new_folder</i>
      New Folder
    </span>
</li>
<li class="list__item--border"></li>
<li class="mdl-menu__item mdl-list__item">
    <span class="mdl-list__item-primary-content" (click)=uploadFile()>
      <i class="material-icons mdl-list__item-icon">queue</i>
      Upload File
    </span>
</li>

</ul>
 
<i *ngIf="index!=title.length-1" class="material-icons">navigate_next</i>



</div>


</div>
  <h1 class="mdl-card__title-text" *ngIf="title=='All'">All</h1>
  

</base-card-title>
<base-card-body class="no-padding">
<table class="mdl-data-table mdl-js-data-table mdl-data-table">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric" *ngFor="let item of tableHeader">{{ item }}</th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let item of data"  (dblclick)="viewFile(item)">
      
      <td class="mdl-data-table__cell--non-numeric">
        {{ item.fileName}}      
      </td>
      <td class="mdl-data-table__cell--non-numeric">{{ item.fileType}}</td>
      <td class="mdl-data-table__cell--non-numeric">{{ item.size }}</td>
      <td class="mdl-data-table__cell--non-numeric">{{ item.lastUpdated }}</td>
      <td class="mdl-data-table__cell--non-numeric"><button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect button--colored-teal" (click)="downloadFile(item)">

        <i class="material-icons">save_alt</i>
        </button>
        
        <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect button--colored-teal" (click)="deleteFile(item)">

          <i class="material-icons">delete</i>
          </button>
      
      </td>
      
    </tr>
  </tbody>
</table>
<label *ngIf="!data" class="" >No Files </label>
</base-card-body>
</base-card>
