udo chmod 777 /etc/hosts

if grep -Frq 'db' /etc/hosts
then
    echo 'Host name for db already exists'
else
    echo '127.0.0.1  db' >> /etc/hosts
    echo 'Hostname: db set'
fi

if grep -Frq 'db1' /etc/hosts
then
    echo 'Host name for db1 already exists'
else
    echo '127.0.0.1  db1' >> /etc/hosts
    echo 'Hostname: db1 set'
fi

if grep -Frq 'db2' /etc/hosts
then
    echo 'Host name for db2 already exists'
else
    echo '127.0.0.1  db2' >> /etc/hosts
    echo 'Hostname: db2 set'
fi